<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
 <!-- <suite name="LVM_SmokeTestSuite">
	<listners>
		<listner class-name="lasvegasmarket.TestListeners" />
	</listners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="lasvegasmarket.LagVegasMarketSmokeTest_PROD" />
		</classes>
	</test>
</suite> -->


 <!-- <suite name="ATLMrkt_SmokeTestSuite">

	<listners>
		<listner class-name="atlantamarket.TestListeners" />
	</listners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="atlantamarket.AtlantaMarketSmokeTest_UAT" />

			<methods> 
				<include name="TS012_VerifyAllLinksUnderAttendTabTest" /> 
				<include name="TS013_VerifyAllNewsAndTrendsMenuTest" /> 
			</methods> 
			 
		</classes>
	</test>
</suite> -->

<suite name="AMMart_SmokeTestSuite">
	<listners>
		<listner class-name="americasmart.TestListeners" />
	</listners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="americasmart.AmericasMartSmokeTest_UAT" />
			<methods> 
				<include name="TS008_VerifyGlobalSearchFunctionalityTest" /> 
			</methods> 
		</classes>
	</test>
</suite> 