<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTestSuite">
	<listners>
		<listner class-name="lasvegasmarket.TestListeners" />
	</listners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="lasvegasmarket.LagVegasMarketSmokeTest_UAT" />
		<methods>

				<include name="TS001_VerifyMarketPlannerLoginTest" />
				<include name="TS013_VerifyAllSocialMediaLinksOnFooterTest" />
			</methods>

				<include name="TS012_VerifyHeaderChannelLinksTest" />
				<!-- <include name="TS011_VerifyAllLinksUnderYearRoundTabTest" />-->
			</methods> 

		</classes>
	</test>
</suite> 